# Python bytecode files
__pycache__/
*.pyc
*.pyo

# Virtual environment
env/
venv/

# SQLite database
db.sqlite3

# Logs and temporary files
*.log
*.tmp

# IDE-specific files
.vscode/
.idea/

# Docker-related files (optional, если есть специфические файлы для Docker)
.docker/

# .env files for environment variables
.env

# from frontend
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

frontend/static
frontend/package-lock.json

finetuned_rubert/